@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 346 75% 58%;
    --foreground: 0 0% 98%;
    --card: 346 75% 58%;
    --card-foreground: 0 0% 98%;
    --popover: 346 75% 58%;
    --popover-foreground: 0 0% 98%;
    --primary: 346 75% 58%;
    --primary-foreground: 0 0% 98%;
    --secondary: 346 70% 90%;
    --secondary-foreground: 346 75% 30%;
    --muted: 346 70% 90%;
    --muted-foreground: 346 40% 40%;
    --accent: 346 70% 90%;
    --accent-foreground: 346 75% 30%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 346 75% 80%;
    --input: #fff;
    --ring: 346 75% 58%;
  }
}
